* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  color: #1c190f;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3;
  height: 100%;
  min-height: 100%;
  background-color: #d4cacd;
}

main {
  height: 75%;
  width: 100vw;
  max-width: 100%;
  text-align: center;
}

h1 {
  color: #0e1340;
  margin: 0;
  font-weight: 700;
}

h2 {
  color: #0e1340;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

table {
  width: 80%;
}

a {
  color: #1c190f;
}

a:visited {
  color: #333;
}

a:active {
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.section {
  height: 100vh;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 4px 15px;
  align-items: center;
  height: 10%;
  background-color: #201e3d;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  width: 200px;
  height: 70px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 400;
}

.navigation-list li a {
  color: #d4cacd;
}

.navigation-list li a:visited a:active {
  color: #c8c6ba;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background: linear-gradient(to right bottom, #201e3d 50%, #d4cacd 50.1%);
}

.centered-heading {
  text-align: center;
}

.about-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#about {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-color: #d4cacd;
  padding: 10px 20px;
  border-radius: 1px;
  width: 300px;
}

.strike-through {
  text-decoration: line-through;
}

#svg8,
#svg1966,
#svg9,
#svgcontact1 {
  max-width: fit-content;
  display: flex;
  flex: 1 1 auto;
}

#svg1966,
#svg9,
#svgcontact1 {
  margin: 0 auto;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;
}

/* .profile__info p {
  background-color: var(--background-color-light);
  border-radius: 5px;
} */

.about-section,
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.about-section {
  background-color: #d4cacd;
}

.about-section__content {
  display: flex;
  flex-direction: row-reverse;
}

.about-section__text {
  margin: 0 12px;
  line-height: 1.7rem;
}

.about-section__mission {
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  line-height: 1.5;
}

.contact-me {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-inner {
  border: 0;
  background: #be3455;
  color: #fff;
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 0.6px;
  text-decoration: none;
  height: 40px;
  width: 160px;
  padding: 3px;
  box-shadow: 3px 3px 4px #0e1340;
}

.button-inner:hover {
  cursor: pointer;
  background: #201e3d;
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
}

.button-inner:focus {
  cursor: pointer;
  background: #201e3d;
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
}

.button-inner:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  transition: 0.2s;
}

.profile-work {
  height: 100%;
  margin: 20px auto;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

.project-list {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}

.project-list__item {
  margin: 10px;
  background-color: #fafafa;
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 315px;
}

.project-content a {
  color: #be3455;
  font-weight: 500;
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.contact-form {
  width: 75%;
  max-width: 600px;
  min-width: 300px;
  margin: 20px auto;
  text-align: center;
}

#contact-form {
  padding: 10px;
  margin: 20px 0;
}

.contact-buttons {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-card {
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
  margin: 10px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 15%;
  position: relative;
  bottom: 0;
  padding-bottom: 6px;
  width: 100%;
  padding-top: 5px;
}

.page-footer p {
  margin-top: 0;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

@media all and (max-width: 550px) {
  .page-header {
    flex-direction: column;
    height: 20%;
  }

  .page-header__item {
    flex: 0 1 70px;
  }

  .navigation-list {
    padding: 0;
    margin: 0;
  }

  .navigation-list li {
    margin: 0 auto;
    padding: 0 5px;
    vertical-align: middle;
  }

  main {
    height: 80%;
  }

  .profile__info {
    max-width: 250px;
  }

  .contact-details {
    flex-direction: column;
    width: 300px;
    gap: 20px;
  }

  .contact-details__item {
    width: 200px;
    flex-direction: row;
    justify-content: start;
    gap: 35px;
  }

  .profile__portrait {
    max-width: 300px;
  }
}

@media all and (max-width: 630px) {
  .project-list {
    grid-template-columns: 1fr;
  }

  .about-section__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .profile-work {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile__portrait {
    max-width: 500px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media all and (min-width: 1000px) {
  #about {
    justify-content: center;
  }
}
